/* Scales.css
------------------------------
Author:    Luke Paireepinart
Copyright: Nico Schüler

Texas State University
Summer 2009
------------------------------
Brief Summary:
Style sheet for the scales program.
*/


/******************
*    Main Page    *
******************/
table.scales_submission
{
  border:solid;
  border-width: 0px;
  margin: 0 auto;
  text-align: center;
}

td.scales_submission
{
  font-weight: bold;
  text-align: right;
}
#inputFields
{
    border: 2px solid;
    padding: 20px;
}

/******************
* Search Results  *
******************/
table.scales
{
  border: 2px solid;
  background-color: #FFFFFF;
  text-align: left;
  margin-top: 60;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td.scales
{
  border: 2px solid #000;
  background: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
th.scales
{
  border: 2px solid #000;
  background: #DDDDDD;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align:center;
}


/******************
*     Scale       *
******************/
table.scale
{
  text-align: center;
  border:solid;
  border-width: 1px;
  margin: 5px;
  font-family: monospace;
  table-layout: fixed;
}

td.scalen
{
  background-color:#FF9999;
  border:solid;
  border-width:1px;
  width: 3em;
  padding: 2px;
  text-align:center;
  font-family: monospace;
}
td.scaley
{
  background-color:#99FF99;
  border:solid;
  border-width:1px;
  width: 3em;
  padding: 2px;
  text-align:center;
  font-family: monospace;
}


/******************
*    Filter Bar   *
******************/
table.filters
{
  border: 1px solid;
  background-color: #FFFFFF;
  text-align: center;
  margin: auto;
}

td.filters
{
  border: 1px solid #006;
  background: #EECCEE;
  padding: 2px;
  font-weight: bold;
}

th.filters
{
  border: 1px solid #006;
  background: #335577;
  padding: 2px;
  font-weight: bold;
  color: white;
}
