/******************
*     Symmetry    *
******************/
#symmdiv
{
    border: solid 1px;
    text-align: center;
    margin: auto auto;
    padding: 5px;
    width: auto;
}
table.symm
{
  text-align: center;
  border:solid;
  border-width: 1px;
  margin: 5 auto;
  font-family: monospace;
  table-layout: fixed;
  background-color: teal;
}

td.symm
{
  background-color:#FFFFE1;
  border:solid;
  border-width:1px;
  width: 3em;
  padding: 2px;
  text-align:center;
  font-family: monospace;
}
td.axis
{
  background-color:#99FF99;
  border:solid;
  border-width:1px;
  width: 3em;
  padding: 2px;
  text-align:center;
  font-family: monospace;
}