/* Main.css
------------------------------
Author:    Luke Paireepinart
Copyright: Nico Schüler

Texas State University
Summer 2009
------------------------------
Brief Summary:
Style sheet for the website.
Contains all of the common style for the overall site.
program-specific styles are in separate style sheets.
*/

/*
#submissions
{
  margin: auto auto;
  width: auto;
  height: auto;
  background-color:#DDEEFF;
  border: solid;
  border-width: 2px;
  border-color: #EECCAA;
  text-align: center;
}
*/